

body {
  margin: 0;
  background-image: -webkit-linear-gradient(left, tomato, papayawhip);
  font-family: monospace;
  display: flex;
  flex-direction: column;
}

header {
	position: sticky;
  background-image: -webkit-linear-gradient(left, tomato, papayawhip);
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 2px white solid; */
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  padding: 4px 32px;
  text-align: center;
  margin: 10px;
  width:
}

.logo img {
  max-width: 170px;
}

ul.nav {
  list-style-type: none;
  display: flex;
  margin: 0 90px 0 50px;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
  
}

.container {
  width: 900px;
  min-width: 600px;
  margin: 100px auto;
  border: 3px white solid;
 
}

.item {
  padding: 50px;
  color: white;
  font-size: 20px;
}

main {
  display: flex;
  margin: 0px 100px;
  background-color: 
  padding: 50px;
  height: ;
}

ul {
  list-style-type: none;
  
}

li {
  margin: 10px;
}

.sub {
  font-size: 75%;
}

footer {
  display: flex;

  background-color: tomato;
  min-height:50px;
  justify-content: center;
  align-items: center;
  
}

footer div {
  color: white;
  
 
}

.picture-content {
  display:flex;
  gap: 50px;
  justify-content: flex-end;
  align-items: center;
  margin: 45px 0;

}

.picture-content img {
 
}

.picture-content div {
  background-color: white;
  color: tomato;
  padding:10px
}

.bottom {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  

}

.bottom div {
  background-color: white;
  color: tomato;
  padding: 50px;
  
}

.story-container {
  margin: 100px;
}

.story-container img {
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px 100px;
  color: tomato;
}

.born {
  flex: 1;
}

.boxes {
  padding: 0 100px 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-wrap: wrap;
  gap: 50px;
}

.boxes img {
  max-width: 500px;
  max-height: 500px;
  position: relative;

  
  
}

.cover-img {
  object-fit: cover;
  height: 500px;
  width: auto;
}

#box-cap {
  color: tomato;
  text-align: center;
}

